n8n-workflow-solicitud-ticket.json
{
  "name": "Rapilink — Crear Ticket Solicitud Internet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rapilink-solicitud-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Solicitud Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "rapilink-solicitud-ticket"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wisphub.net/api/tickets/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "asunto",
              "value": "={{ $json.body.asunto }}"
            },
            {
              "name": "descripcion",
              "value": "={{ $json.body.descripcion }}"
            },
            {
              "name": "tecnico",
              "value": "={{ $json.body.tecnico }}"
            }
          ]
        },
        "options": {}
      },
      "id": "crear-ticket",
      "name": "Crear Ticket WispHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wisphub-api-key",
          "name": "WispHub API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"exito\": true, \"mensaje\": \"Ticket creado correctamente\", \"ticket\": {{ JSON.stringify($json) }} }",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook Solicitud Ticket": {
      "main": [
        [
          { "node": "Crear Ticket WispHub", "type": "main", "index": 0 }
        ]
      ]
    },
    "Crear Ticket WispHub": {
      "main": [
        [
          { "node": "Responder OK", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
